<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="../resources/css/style.css">
  <script src="../resources/js/jquery-3.3.1.min.js"></script>
  <script src="../resources/js/bootstrap.min.js"></script>
  <title>João's Portfolio</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="#modalInfo" data-toggle="modal" data-target="#modalInfo">
          <img class="logo rounded-image img-responsive" src="../resources/images/profile_photo.jpg" alt="A João Lucas Photo.">
        </a>
          <div id="modalInfo" class="modal fade" tabindex="-1">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title strong">Olá, tudo bem?</h4>
                      </div>
                      <div class="modal-body">
                          <p class="text-justify">Seja bem-vindo ao meu portfolio. Aqui você vai encontrar algumas informações sobre meus projetos. E quem eu sou? Sou o João. Tenho 25 anos, sou apaixonado por tecnologia, e atualmente trabalho com teste e qualidade de software. Sou entusiasta de Agile, Devops, e tudo mais. Deseja falar comigo? Pode utilizar qualquer um dos links das minhas redes sociais no fim da página para entrar em contato. Muito obrigado pela sua visita!</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
        <h1 class="text-uppercase page-title-text">João Lucas</h1>
        <h3 class="text-uppercase page-subtitle-text">QA & Podcaster</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive main-banner card-img-top" src="../resources/images/testcast_banner.jpg" alt="A banner of Testcast, the greatest podcast in Brazil about Softwre Testing">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="subitens-title-text">Featured Work</h2>
      </div>
      <div></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive work-image" src="../resources/images/github.png" alt="The Github logo">
        <h3 class="text-center text-uppercase work-title-text">Github</h3>
        <p class="text-center">
          <a href="http://github.com/joaolucasfernandes">Link to project</a>
        </p>
        <p>Meus projetos no Github.</p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive work-image" src="../resources/images/podcast.png" alt="The podcast logo">
        <h3 class="text-center text-uppercase work-title-text">TestCast</h3>
        <p class="text-center">
          <a href="http://soundcloud.com/testcastbrasil">Link to project</a>
        </p>
      </div>
      <div class="col-md-4">
        <img class="img-responsive work-image" src="../resources/images/linkedin.png" alt="The linkedin logo">
        <h3 class="text-center text-uppercase work-title-text">Linkedin posts</h3>
        <p class="text-center">
          <a href="https://www.linkedin.com/today/author/joaolfc">Link to project</a>
        </p>
      </div>
    </div>
    <footer>
      <center>THIS IS A STUPID FOOTER</center>
    </footer>
  </div>
</body>

</html>